*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 250px;
  }
  /*
    Color palabra clave
  */
  .circle{
    background-color: rgb(60, 204, 149);
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  
  /*
    Color rgb decimal
  */
  .circle2 {
    background-color: rgb(130, 150, 20);
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  
  /*
    Color porcentual
  */
  .circle3 {
    background-color: rgb(230, 207, 77);
    height: 1em;
    width: 1em;
    border-radius: 50%;
  }
  
  
  
  /*
    Color hexadecimal
  */
  .circle4{
    background-color: #3aeb34;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  
  .circle5{
    background-color: rgba(30, 10, 30, 0.5);
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  
  .ejemplo{
    height: 250px;
    width: 150px;
    padding: 10px;
    border:solid 6px rgb(0, 0, 0);
  }
  .ejemplo2{
    font-size: 100px;
    border:solid 6px rgb(0, 17, 255);
    padding: 30px;
    margin-top: 20px;
  }